.navbar-brand img{
    width: 80px;
    padding: 20px;
    border-radius: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.mynav .navbar-brand{
    font-weight: 900;
}
.mynav .navbar-brand img{
    margin-right: 5px;
}
.profile-detail .profile{
    margin-top: 10rem;
}
.profile-detail .profile-image img{
    width: 50%;
    border-radius: 50%;
}
.profile-detail .btn-kanzo{
    background-color: black;
    color: aliceblue;
    font-weight: 500px;
}
.profile-detail h3{
    font-weight: 500;
}
.profile-detail h3{
    font-style: italic;
    font-weight: 400;
}
.info-detail{
    margin-top: 4rem;
}
.profile-detail .info-detail p{
    line-height: 8px;
}
.social-link{
    font-size: 25px;
    margin-right: 2rem;
    cursor: pointer;
}
.social-link  i.fa-facebook{
    color: rgb(66 103 178);
}
.social-link i.fa-pinterest{
    color: rgb(230 0 35);
}
.social-link i.fa-twitter{
    color: #be3084
}
.social-link i.fa-linkedin{
    color: #1164b4;
}
.social-link i.fa-skype{
    color: #d8183b;
}
.social-link i.fa-telegram{
    color: #00bfff;
}
.social-link i.fa-youtube{
    color: #FF0000;
}

/* Hover */

.social-link  i.fa-facebook:hover{
    color: #898F9C;
}
.social-link i.fa-pinterest:hover{
    color: rgb(20 0 35);
}
.social-link i.fa-twitter:hover{
    color: #8e456f
}
.social-link i.fa-linkedin:hover{
    color: #29455e;
}
.social-link i.fa-skype:hover{
    color: #543a3f;
}
.social-link i.fa-telegram:hover{
    color: #1c323a;
}
.social-link i.fa-youtube:hover{
    color: #472828;
}

/* End Hover */
section{
    margin-bottom: 5rem;
}
h1,h1,h1{
    font-weight: 600px;
}
.about-me img{
    width: 80%;
}

